<div class="w-3/12 h-full bg-neutral-200 pl-2 overflow-y-hidden" id="sidebar_left">
  <!--# here we can just use the groups partials-->
  <div class="py-6 flex justify-between px-4">
    <!--We can disable turbo locally and follow the whole link-->
    <%= link_to "Edit profile", edit_profile_path, data: {turbo: false}, class: "btn" %>
    <!--We set the turbo method and tell it to replace the whole page-->
    <!--supported methods are put, post and delete with get as default-->
    <!--Data turbo confirm allows use to run underlying JS confirms-->
    <%= link_to "Log out", destroy_user_session_path, class: "btn", data: { turbo_method: :delete, turbo_frame: '_top', turbo_confirm: "You want to leave?" } if user_signed_in? %>
  </div>
  <%= link_to "Create a group", new_group_path  %>
  <!--@your_groups-->
  <!--other_groups-->
  <% if your_groups.any? || other_groups.any? %>
    <h2 class="text-base my-3 text-accent ">Your groups</h2>
    <% your_groups.each do |group| %>
      <!--# here we shall broadcast events to this channel-->
      <div class="flex flex-col w-full sm:flex-row justify-between items-center pb-5 sm:pb-0 bg-white my-4">
        <%#= render partial: 'group_preview', locals: { group: group} %>
        <%= render partial: 'groups/group_preview', object: group, as: 'group' %>
        <!--            You can also pass a default variable that takes the partials name-->
        <%#= render partial: 'group_preview', object: group %>
        <!--            Access in partials as group_preview.class.is_a?(Group) == true-->
      </div>
    <% end %>
    <h2 class="text-base my-3 text-primary ">Other groups: Request to join</h2>
    <% other_groups.each do |group| %>
      <div class="flex flex-col w-full sm:flex-row justify-between items-center pb-5 sm:pb-0 bg-white my-4 ">
        <%= render partial: 'groups/group_preview', object: group, as: 'group' %>
      </div>
    <% end %>
  <% else %>
    <p class="text-center my-10">No groups found.</p>
  <% end %>
</div>